* {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Microsoft Yahei';
}

ul {
  margin: 10px auto;
  li {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    &:first-child {
      a{
        background-color: #7B77FF;
      }
    }
    &:nth-child(2) {
      a{
        background-color: #92CCE1;
      }
    }
    &:nth-child(3) {
      a{
        background-color: #F68686;
      }
    }
    &:nth-child(4) {
      a{
        background-color: #FFE3B9;
      }
    }
    &:nth-child(5) {
      a{
        background-color: #F1684E;
      }
    }
    a {
      display: block;
      width: 35px;
      height: 25px;
      border-radius: 6px;
      box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
      cursor: default;
    }
  }
}

.parent{
  margin: 30px ;
  padding: 10px;
  border-radius: 5px;
  >div{
    padding: 10px 0;
  }
}
.child{
  float: left;
  margin: 30px;
  padding: 10px 10px 60px 10px;
  border-radius: 5px;

}
.clearfix{
  clear: both;
}